/* HTML Selectors */
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

p {
  color: #8f8f8f;
}

/* ID */

#title {

  text-align: left;
  /* or #fff*/
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
}

/* Headings */

.big-heading {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: #fff;
}

/* navigation bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-sans-serif;
  font-weight: 300;
}

/* Title */

.container-fluid {
  padding: 3% 15% 7%;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* iphone6-image */

.title-image {
  transform: rotate(25deg);
  width: 60%;
  position: absolute;
  right: 30%;
  /* left: 100px;
  max-width: 250px;
  position: relative;*/
}

@media (max-width: 1028px) {
  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* @media (max-width: 600px) {
  .title-image {
    display: none;
  }
} */

/* features */

#features {
  padding: 7% 15%;
  position: relative;
  /* z-index: 1; */
}

.feature-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  font-weight: 700;
}

.carousel-inner {
  padding: 7% 15%;
}

.testimony-dog {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.card-header-top {
  font-size: 1.5rem;
  font-weight: 700;
}

.price-text {
  font-size: 3rem;
  font-weight: 700;
}

.pricing-column {
  padding: 3% 2%;
}

/* Call to Action cta */

#cta .container-fluid {
  padding: 5% 15%;
}

/* Footer Section */

#footer {
  padding: 3% 0;
}

.footer-item {
  padding: 30px 10px;
}
